.icon_list_connector{
	display: none !important;
}
.hidden-newsletter{
	display: none !important;
}
.form-startup{
	.hidden-startup{
		display: none !important;
	}
	.hidden-newsletter{
		display: block !important;
	}
}
.features {
	.title-block {
	  padding-bottom: 50px;
	}
	&.bg-gradient{
		position: relative;
		&:before{
			opacity: 0.85;
		}
	}
	.smile_icon_list.circle{
		margin-top: 40px;
	}
	.smile_icon_list.with_bg {
		.icon_list_icon {
		  background: none;
		  height: 70px;
		  width: 70px;
		  font-size: 20px !important;
		  line-height: 70px;
		  &:before{
		  	border: 1px solid #ffffff;
		    border-radius: 50%;
		    content: "";
		    height: 66px;
		    left: 2px;
		    position: absolute;
		    top: 2px;
		    width: 66px;
		  }
		}
		.icon_list_item{
			i{
				margin-left: 2px;
			}
			&:hover{
				.icon_list_icon{
				  background: #fff;
				  color: #e71173 !important;
				}
			}
		}
	}
	.smile_icon_list li.icon_list_item{
		margin-bottom: 80px !important;
		.icon_description{
			margin-top: -3px;
			h3{
				text-transform: uppercase;
				margin-bottom: 13px;
				font-weight: 400;
			}
		}
	}
}