.title-gallery {
	h3 {
	    font-size: 18px;
	    font-weight: 700;
	    margin-bottom: 7px;
	    color: #3d3d3d;
	}
	p{
		color: #797979;
		line-height: 23px;
	}
}

.gallery {
	button.default {
	    height: 40px;
	    width: 40px;
	    background: #000;
	    font-size: 15px !important;
	    &:hover{
	    	background: #e15f00;
	    }
	}
	.slick-slide img {
	    border: 12px solid #fff;
	    width: 100%;
	}
	.ult-carousel-wrapper {
	    margin-bottom: 0;
	    padding-bottom: 100px;
	}
	.title-gallery{
		padding-bottom: 45px;
	}
	.slick-next, .slick-prev {
	  top: 59%;
	  z-index: 99;
	}
	.slick-slider {
	  margin: 0 auto;
	  width: 750px;
	  position: relative;
	}
	.slick-prev{
		left: -15px;
	}
	.slick-next{
		right: -15px;
	}
}
