.title-block h2{
	margin-top: 0;
	margin-bottom: 13px;
}
.refresh{
	background: #f5f5f5;
	.ubtn {
	  border-radius: 20px;
	  font-size: 14px;
	  padding: 10px 30px 10px;
	  position: relative;
	  z-index: 15;
	  color: #fff !important;
	}
	.wpb_content_element {
	  margin-bottom: 19px;
	}
}
.img-refesh{
	img{
		position: relative;
		z-index: 9;
	}
}