.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-color {
    margin: 0 0 12px;
    padding: 0 0 14px;
    border-bottom: 1px solid #eee;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.list-color li {
    padding: 0 1px 4px 5px;
}
.list-color li.selected a{
	color: #124964;
    -webkit-box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
    box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
}
a {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.list-color a {
    display: block;
    border-radius: 3px;
    width: 33px;
    height: 33px;
}
.radical-red a {
    background: #ff2759;
}
.cadet-blue a {
  background: #599BA9;
}
.persimmon a {
  background: #e15f00;
}
.chateau-green a {
  background: #1ad473;
}
.rich-electric-blue a {
  background: #3c98ec;
}
.color-single-product a {
  background: #1b98d7;
}