.wpb_vc_single_image .attachment-thumbnail {
    max-width: 120px !important;
    background-image: none !important;
    width: 100% !important;
    height: auto !important;
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
  padding: 0 10% 20px !important;
}
.wpb_content_element.landx-vc .wpb_element_title{
    overflow: hidden;
    margin-bottom: 15px !important;
    vertical-align: middle;
    line-height: 32px;
}
.landx-vc .vc_admin_label{
  font-style: normal;
}
.landx-vc .vc_admin_label label{
  font-size: 1em;
}
.landx-vc .admin_label_title.vc_admin_label{
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-style: normal;
}
.vc_col-sm-6 .landx-vc .admin_label_title.vc_admin_label{
  font-size: 1.3em;
  margin-bottom: 10px;
}
.vc_col-sm-4 .landx-vc .admin_label_title.vc_admin_label{
  font-size: 1.1em;
  margin-bottom: 5px;
}
.vc_col-sm-3 .landx-vc .admin_label_title.vc_admin_label{
  font-size: 1em;
  margin-bottom: 5px;
}

.landx-vc .admin_label_subtitle.vc_admin_label{
  display: block;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 10px;
  font-style: normal;
}

.landx-vc .admin_label_content.vc_admin_label{
   display: block;
  font-weight: normal;
  font-size: .9em;
  margin-bottom: 10px;
  font-style: normal;
}
.landx-vc .admin_label_name.vc_admin_label{
  display: block;
  font-weight: normal;
  font-size: .8em;
  margin-top: 10px;
  font-style: normal;
  letter-spacing: 1px;
}
.wpb_vc_section .vc_section-bottom-controls .vc_column-add{color: #42a045 !important;}
.wpb_vc_section > .vc_controls > span .vc_column-edit{background-color: #42a045 !important; color: #fff;}
.wpb_vc_row .vc_control-column.bottom-controls .vc_column-add{color: #1e88e5 !important;}
.wpb_vc_row > .vc_controls > span .vc_column-edit{background-color: #1e88e5 !important; color: #fff;}
.landx-vc.wpb_sortable > .vc_controls > .column_edit{background-color: #ff3366; color: #fff; padding: 5px  7px;}
.perch-shortcode-field{
	width: 100%;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}
.perch-shortcode-field label{
	float: left;
	width: 35%;
	padding-bottom: 5px;
}

.perch-shortcode-field textarea,
.perch-shortcode-field input[type="text"]{
	width: 64%;
	float: left;
}

#TB_window{
	z-index: 1000500;
}

#TB_overlay{
	z-index: 1000500;
}

.option-tree-setting-wrap li{
  border: none !important;
}
.landx-section-content-edit .option-tree-setting{
  padding: 10px;
  line-height: 21px;
  position: relative;
}
.landx-settings-page-wrap .format-setting .description{
  padding: 0;
} 
.landx-section-content-edit .option-tree-setting .slug{
  background-color: #ddd;
  color: #23282d;
  padding: 0 7px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  right: 5px;
}

/*custom option tre css*/

#option-tree-settings-api > .ui-tabs {
  -webkit-box-shadow: inset 196px 0 0 #f1f1f1, inset 147px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05) !important;
     -moz-box-shadow: inset 196px 0 0 #f1f1f1, inset 147px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05) !important;
          box-shadow: inset 196px 0 0 #f1f1f1, inset 147px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05) !important;

}

#option-tree-header-wrap{
  max-width: 1000px !important;
}


#option-tree-sub-header,
.option-tree-ui-buttons{
   max-width: 980px !important;
}

#option-tree-settings-api > .ui-tabs{
   max-width: 990px !important;
}

.wrap.settings-wrap .ui-tabs-nav{
  width: 200px !important;
}

.wrap.settings-wrap .ui-tabs-nav li a{
  background-repeat: no-repeat;
  padding-left: 40px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

#tab_general_options a{ background-image: url(../images/icon-settings.png); background-position: 12px center; }
#tab_header_options a{  background-image: url(../images/icon-header.png);  background-position: 12px center;}
#tab_footer_options a{  background-image: url(../images/icon-footer.png); background-position: 12px center; }
#tab_background_options a{  background-image: url(../images/background.png); background-position: 12px center; }
#tab_fonts a{  background-image: url(../images/icon-typography.png); background-position: 12px center; }
#tab_blog_options a{ background-image: url(../images/blog.png); background-position: 12px center; }
#tab_page_options a{  background-image: url(../images/icon-portfolio.png); background-position: 12px center; }
#tab_social_sharing_links a{ background-image: url(../images/social_links_icon.png); background-position: 12px center; }
#tab_sidebar_option a{ background-image: url(../images/sidebar.png); background-position: 12px center; }
#tab_front_options a{ background-image: url(../images/icon-slider.png); background-position: 12px center; }
#tab_client_slider a{   background-image: url(../images/icon-slider.png); background-position: 12px center; }
#tab_styling_options a{ background-image: url(../images/styling.png); background-position: 12px center; }
#tab_custom_css a{  background-image: url(../images/css.png); background-position: 12px center; }
#tab_theme_text a{  background-image: url(../images/extra.png); background-position: 12px center; }

.type-radio-image .option-tree-ui-radio-images img{
  max-width: 60px;
}

.ext-menu{
  display: none;
}

#option-tree-header #option-tree-logo a{
  background: url(../images/logo.png) no-repeat center;
  text-indent: -999999px;
}

#adminmenu #toplevel_page_ot-settings .menu-icon-generic div.wp-menu-image::before, 
#option-tree-header #option-tree-logo a::before{
  content: "" !important;
}

#option-tree-header #option-tree-logo a{
  min-height: 50px;
  min-width: 50px;
}

#option-tree-header #option-tree-version span, 
#option-tree-header #theme-version span{
  line-height: 50px !important;
  min-height: 50px !important;
  text-transform: uppercase;
}

.hide-field-wrap{
  display: none;
}

#option-tree-header li#option-tree-logo{
  min-width: 145px;
}

#option-tree-header li#option-tree-logo a{
  width: 100%;
  padding: 0;
  border-right: none;
}

form#option-tree-options-layouts-form{
  top: 57px;
}
#editor.block-editor__container #landx_squzee_meta_box,
#editor.block-editor__container #landx_onepage_meta_box,
#editor.block-editor__container #landx_onepage_sttings_boxes,
#editor.block-editor__container #landx_onepage_footer_sttings_boxes{display: none !important}
.wrap.settings-wrap .ui-tabs-nav.ot-theme-option-nav {width: 100% !important;}