// Header
@import "base/header-v1";
@import "base/header-v2";
@import "base/header-v3";
@import "base/header-v4";
@import "base/header-v5";
@import "base/header-v6";
// Footer
@import "base/footer-v1";
@import "base/footer-v2";
@import "base/footer-v3";
@import "base/footer-v4";
@import "base/footer-v5";
@import "base/footer-v6";
@import "base/megamenu";
//widget
@import "base/widget";
// Slider
@import "content/slider";
//breadcrumb
@import "content/breadcrumb";
// Content
@import "content/content";
@import "content/our-team";
@import "content/banner";
//about
@import "content/about-us";
//Blog
@import "content/blog";
//contact
@import "content/contact";
//testimonial
@import "content/testimonial";
//event
@import "content/event";
//Services
@import "content/services";
//Refresh
@import "content/refresh";
//Portfolio
@import "content/portfolio";
//Features
@import "content/features";
//Amount
@import "content/amount";
//Pricing Table
@import "content/pricing-table";
//page-404
@import "content/page-404";
//accordion
@import "content/accordion";
//character
@import "content/character";
//video-home
@import "content/video-home";
//video-home
@import "content/game-play";
//Gallery
@import "content/gallery";
//App screen
@import "content/app-screen";
//Shop
@import "content/shop";
//Cart
@import "content/cart";